.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0072CE;
    padding: 10px 20px;
}

.logo {
    height: 60px;
}

.navMenu {
    list-style: none;
    display: flex;
    gap: 100px;
}

.navMenu li {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.navMenu a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.navMenu a:hover {
    color: #FFDD44;
    text-shadow: 3px 5px 15px hsl(207, 100%, 18%);
}

.navRight {
    display: flex;
    align-items: center;
    gap: 15px;
}

.iconProfile {
    border-radius: 50%;
    height: 40px;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.iconProfile:hover {
    opacity: 0.7;
}